 .sv-wrapper{
    display: flex;
    flex-direction: column;
    border: 7px solid var(--yellow);
    justify-content: center;
    align-items: center;
    padding:10px 20px;
    border-radius:10px;
    width: 230px;
    background-color: rgb(211 202 202 / 21%);
    
 }
 .sv-wrapper>h1{
   font-weight:bold;
   color:rgb(78, 74, 74)
 }
 .sv-wrapper>p{
  font-size: 14px;
  text-align: center;
   color:rgb(78, 74, 74);
   
 }
 .sv-wrapper>button{
  font-size: 20px;
  text-align: center;
   color:rgb(78, 74, 74);
    padding: 10px 20px;
    border: 1px solid gold;
    border-radius: 10px;
    text-transform: capitalize;
    background: white;
    margin: 20px 0;
 }
 